**/#*#
src/main/docs
src/main/rdl
site
*.iml
.idea
*~
target
.classpath
.project
.settings
rhel.*package*
testng.*
test-output/
/.clover
/target
artifacts
root
.bb
*.state
coverity
*.class
.DS_Store
.checkstyle
src/main/docs/static_files/**
build/
.gradle/
.gradletasknamecache
